<div class="container">

    {{>messages}}

    <div class="text-center my-3">
        <span>
            <button class="my-btn-mobile d-inline btn-danger">{{totalNo}}</button>
            <p class="text-muted"><b>Total Numbers of Courses</b></p>
        </span>
    </div>

    <div class="question-row row">

        <h4 class="text-secondary text-center my-5"><b>All 100 level Courses</b></h4>
        {{#each all100}}
        <div class="col-sm-2 mb-2 text-center text-white">
            <button class="my-btn-mobile btn-danger"><a href="/result/{{this.courseName}}{{this.courseCode}}"
                    style="text-decoration: none;" class="text-white"><b>{{this.courseName}}
                        {{this.courseCode}}</b></a></button>

        </div>
        {{/each}}

        <h4 class="text-secondary text-center my-5"><b>All 200 level Courses</b></h4>
        {{#each all200}}
        <div class="col-sm-2 mb-2 text-center text-white">
            <button class="my-btn-mobile btn-danger"><a href="/result/{{this.courseName}}{{this.courseCode}}"
                    style="text-decoration: none;" class="text-white"><b>{{this.courseName}}
                        {{this.courseCode}}</b></a></button>

        </div>
        {{/each}}

        <h4 class="text-secondary text-center my-5"><b>All 300 level Courses</b></h4>
        {{#each all300}}
        <div class="col-sm-2 mb-2 text-center text-white">
            <button class="my-btn-mobile btn-danger"><a href="/result/{{this.courseName}}{{this.courseCode}}"
                    style="text-decoration: none;" class="text-white"><b>{{this.courseName}}
                        {{this.courseCode}}</b></a></button>

        </div>
        {{/each}}

        <h4 class="text-secondary text-center my-5"><b>All 400 level Courses</b></h4>
        {{#each all400}}
        <div class="col-sm-2 mb-2 text-center text-white">
            <button class="my-btn-mobile btn-danger"><a href="/result/{{this.courseName}}{{this.courseCode}}"
                    style="text-decoration: none;" class="text-white"><b>{{this.courseName}}
                        {{this.courseCode}}</b></a></button>

        </div>
        {{/each}}

        <h4 class="text-secondary text-center my-5"><b>All 500 level Courses</b></h4>
        {{#each all500}}
        <div class="col-sm-2 mb-2 text-center text-white">
            <button class="my-btn-mobile btn-danger"><a href="/result/{{this.courseName}}{{this.courseCode}}"
                    style="text-decoration: none;" class="text-white"><b>{{this.courseName}}
                        {{this.courseCode}}</b></a></button>

        </div>
        {{/each}}


    </div>
</div>