<section id="" style="padding-top: 4%;">
    <div class="container">

        <div class="col-12 text-center">
            <h4 class="text-secondary"><b> {{course}} Questionnaire</b></h4>
        </div>


        {{>messages}}
        <div class="text-start">
            <p>
                Questionnaire is designed to assess Lecture's capacity to deliver lecture effectively well such that the
                objectives of
                the course are achieved. Please complete the questionnaire objectively because your response will go a
                long way in helping
                the University to address shortcomings in lecture delivery and you can be rest assured of the
                confidentiality of your response.
            </p>
        </div>


        <div class="row question-row" style="margin-top: 0vh !important;">

            <div class="col-7"></div>

            <div class="col-5 d-none d-lg-block">
                <ul class="nav text-center">
                    <li class="list-item mx-auto">
                        Strongly Agree
                    </li>
                    <li class="list-item mx-auto">
                        Agree
                    </li>
                    <li class="list-item mx-auto">
                        Neutral
                    </li>
                    <li class="list-item mx-auto">
                        Disagree
                    </li>
                    <li class="list-item mx-auto">
                        Strongly Disagree
                    </li>
                </ul>
            </div>


            <div class="col-5 d-sm-block d-lg-none">
                <ul class="nav text-center">
                    <li class="list-item mx-auto">
                        <b>S.A</b>
                    </li>
                    <li class="list-item mx-auto">
                        <b>A</b>
                    </li>
                    <li class="list-item mx-auto">
                        <b>N</b>
                    </li>
                    <li class="list-item mx-auto">
                        <b>D</b>
                    </li>
                    <li class="list-item mx-auto">
                        <b>S.D</b>
                    </li>

                </ul>
            </div>




        </div>

        <form method="POST" action="/result/{{course}}" enctype="application/x-www-form-urlencoded">
            <div class="row question-row">

                {{#each question}}
                <div class="col-7">
                    <p class="text-start">
                        {{this.sn}}. {{this.question}}
                    </p>
                </div>
                <div class="col-5">
                    <ul class="nav text-start">
                        <li class="mx-auto list-item">
                            <input class="form-check-input" type="radio" id="inlineCheckbox1" name="{{this.sn}}"
                                value='strongly-agree'>
                        </li>
                        <li class="mx-auto list-item">
                            <input class=" form-check-input" type="radio" id="inlineCheckbox2" name="{{this.sn}}"
                                value='agree'>
                        </li>
                        <li class="mx-auto list-item">
                            <input class="form-check-input" type="radio" id="inlineCheckbox3" name="{{this.sn}}"
                                value='neutral'>
                        </li>
                        <li class="mx-auto list-item">
                            <input class="form-check-input" type="radio" id="inlineCheckbox4" name="{{this.sn}}"
                                value='disagree'>
                        </li>
                        <li class="mx-auto list-item">
                            <input class="form-check-input" type="radio" id="inlineCheckbox5" name="{{this.sn}}"
                                value='strongly-disagree'>
                        </li>
                    </ul>
                </div>
                {{/each}}





            </div>

            <div class="col-md-12 text-center my-5">
                <button class="my-btn-mobile btn-danger" type="submit"><b>SUBMIT</b></button>
            </div>
        </form>


    </div>
</section>