<section id="banner-desktop" class="d-block" style="padding-top: 2%;">
    <div class="container" style="height: 80vh;">
        {{>messages}}

        <div class="row" style="height: 30vh; padding-top: 10vh;">
            <div class="col-6 text-end">
                <img src="./IMG/User.svg" class="img-thumbnail" alt="User Image" style="width: 120px; height: 120px;">

            </div>

            <div class="col-6 text-start">
                <p class="h5">{{student.firstname}} {{student.surname}}</p>
                <p class="h5">{{student.level}} Level</p>
                <p class="h5">{{student.program}}</p>
                <p class="h5">{{student.matricNo}}</p>
            </div>

        </div>



        <div class="row text-center">
            <div class="col-sm-6">
                <button class="my-btn btn-danger"><a href="/student/first-semester">First Semester</a></button>
            </div>

            <div class="col-sm-6">
                <button class="my-btn btn-danger"><a href="/student/second-semester">Second Semester</a></button>
            </div>

        </div>

    </div>
</section>