<div class="">
    {{>header}}
</div>
<div class="mt-5 pt-1">
    {{> Logo}}
</div>
<section id="banner-desktop" class="" style="padding-top: 2%;">
    <div class="container">
        {{>messages}}

        <div class="row" style="height: 22vh; padding-top: 4vh;">
            <div class="col-6 text-end">
                <img src="/uploads/users.png" alt="User Image" alt="OAUSTECH Logo" width="150px" height="150px">
            </div>

            <div class="col-6 text-start">
                <p class="h5">{{student.firstname}} {{student.surname}}</p>
                <p class="h5">{{student.level}} Level</p>
                <p class="h5">{{student.program}}</p>
                <p class="h5">{{student.matricNo}}</p>
            </div>

        </div>

        <div class="text-center my-3">
            <span>
                <p class="text-muted"><b>Total Numbers of Courses for the level</b></p>
                <button class="my-btn-mobile d-inline btn-secondary"><b>{{totalNo}}</b></button>
                <p class="text-muted"><b>Total Numbers of Courses Answered</b></p>
                <button class="my-btn-mobile d-inline btn-secondary"><b>{{ansNo}}</b></button>
                <p class="text-muted"><b>Total Numbers of Courses left</b></p>
                <button class="my-btn-mobile d-inline btn-secondary"><b>{{leftNo}}</b></button>
            </span>
        </div>


        <div class="question-row row text-center">
            <div class="col-sm-6">
                <button class="my-btn btn-danger"><a href="/student/first-semester">First Semester</a></button>
            </div>

            <div class="col-sm-6">
                <button class="my-btn btn-danger"><a href="/student/second-semester">Second Semester</a></button>
            </div>

        </div>

    </div>
</section>